<?xml version="1.0" encoding="windows-1252"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<!-- these settings can be found in external files - this prevents application restart when they are changed -->
	<connectionStrings configSource="Web_ConnectionStrings.config"></connectionStrings>
	<appSettings configSource="Web_AppSettings.config"></appSettings>
	<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
	<system.web>
		<globalization culture="en-NZ" uiCulture="en-NZ" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<customErrors mode="Off" />
		<authentication mode="Forms"><!-- None for SavvyAuth or Forms for ASPXAUTH -->
			<forms name="sitename"  cookieless="UseCookies" loginUrl="~/security/Login" timeout="2880" />
			<!-- timeout value is in mins -->
		</authentication>
		<authorization>
			<!-- Anonymous users are identified using a question mark (?). You can specify all authenticated users using an asterisk (*). -->
			<allow users="?" />
		</authorization>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Collections.Generic"/>
				<add namespace="Beweb"/>
				<add namespace="SavvyMVC"/>
				<add namespace="SavvyMVC.Helpers"/>
			</namespaces>
			<controls>
				<!--<add src="~/controls/beweb/GeoAddress.ascx" tagPrefix="bwb" tagName="GeoAddress"/>-->
			</controls>
		</pages>
		<machineKey validationKey="49AD79CACDF7DEDDCFE33716FB0DC700B3FE6653373153C73B5BB287B2F726E250C8A55DEB4F82FC3DFBC382C6D9BBB2E3D1BA3C64D6E5696CB9FBE855C7704E" decryptionKey="352273180EE6A92E2E41B3ECC0A6C837A6A8DA16D306FA4D4D8DFE0D5281CDD8" validation="SHA1" decryption="AES"/>
		<!-- use Beweb.Crypto.GenerateKey(128|64) to make new keys-->
		<!-- 
		maxRequestLength = DO NOT CHANGE THIS - change the value in AppSettings MaxFileUploadSizeInMegaBytes. maxRequestLength is set to huge 1GB (not anymore???) (1048576 KB), this value is entire form upload (could be two or more big files)
		and also you need to change system.webServer>security>requestFiltering>requestLimits
		executionTimeout = time to upload entire page including any big files - value in seconds. Is ignored if debug="true".
		waitChangeNotification settings delays app restart when you change a file in Bin or App_Code for 10 seconds (ie long enough to finish updating a bunch of files so only one restart happens at the end instead of many)		
		-->
		<httpRuntime requestValidationMode="2.0" maxUrlLength="6144" relaxedUrlToFileSystemMapping="true" maxRequestLength="734003200" executionTimeout="3600" waitChangeNotification="0" maxWaitChangeNotification="0"/>

		<!--<trace localOnly="false" enabled="true"/>
		<trace localOnly="true" enabled="false"/>			-->
		<caching>
			<cache privateBytesLimit="20000" percentagePhysicalMemoryUsedLimit="30" />
		</caching>
	</system.web>
	<system.codedom>
		<compilers>
			<!-- this "/debug:pdbonly" switch runs in release mode except that it gives us line numbers on stack trace error reports! -->
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/debug:pdbonly">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<httpErrors errorMode="Detailed" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="734003200"/>
				<!-- this is 70MB -->
			</requestFiltering>
		</security>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
			<!--<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" /> 20140217jn removed, was breaking css,js, everything-->
			<mimeMap fileExtension=".indd" mimeType="application/octet-stream" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
			</customHeaders>
		</httpProtocol>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		    <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
		    <dynamicTypes>
		      <add mimeType="text/*" enabled="true"/>
		      <add mimeType="message/*" enabled="true"/>
		      <add mimeType="application/javascript" enabled="true"/>
		      <add mimeType="*/*" enabled="false"/>
		    </dynamicTypes>
		    <staticTypes>
		      <add mimeType="text/*" enabled="true"/>
		      <add mimeType="message/*" enabled="true"/>
		      <add mimeType="application/javascript" enabled="true"/>
		      <add mimeType="*/*" enabled="false"/>
		    </staticTypes>
		  </httpCompression>
		  <urlCompression doStaticCompression="true" doDynamicCompression="true"/>		
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
			<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <system.net>
		<defaultProxy enabled="true">
			<!-- The following section is to force use of Fiddler for all applications, including those running in service accounts -->
<!--			<proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />-->
		</defaultProxy>
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
	<location path="testauth">
		<system.web>		
			<authorization>
				<!-- allow all unauthenticated users -->
	   <deny users = "?" /> <!-- This denies access to the Anonymous user -->
	   <allow users ="*" /> <!-- This allows access to all users -->
			</authorization>
	   	</system.web>
	   </location>	
</configuration>
