<?xml version="1.0"?>
<connectionStrings>
	<!-- use the suffixes DEV (development), STG (staging), LVE (live) for the servers -->
	<clear/>
	<add name="ConnectionStringDEV" connectionString="Data Source=(local);Initial Catalog=codelibmvc;User Id=sa;Password=[password]" providerName="System.Data.SqlClient"/>
	<add name="ConnectionStringSTG" connectionString="Data Source=(local);Initial Catalog=codelibmvc;User Id=sa;Password=[password]" providerName="System.Data.SqlClient"/>
	<add name="ConnectionStringLVE" connectionString="Data Source=(local);Initial Catalog=codelibmvc;User Id=sa;Password=[password]" providerName="System.Data.SqlClient"/>
</connectionStrings>
