<?xml version="1.0"?>
<appSettings>
	<!-- ServerIs values are the string to search for in the domain name, you can use the pipe | as an 'or' operator -->
	<add key="ServerIsDEV" value="localhost|192.168.1"/> <!-- Include your computer name here -->
	<add key="ServerIsSTG" value="stg_sitename.co.nz"/>
	<add key="ServerIsLVE" value="live_sitename.co.nz"/>
	<add key="StagingHasOwnAppPool" value="true"/>
	<add key="EnsureCanonicalHost" value="true"/>
	<add key="ForceHttps" value="false"/>

	<!-- application version settings -->
	<add key="ApplicationName" value="Savvy.Net MVC"/>
	<add key="ApplicationVersion" value="3.00"/>
	<add key="BuildStartDate" value="tbd"/>
	<add key="ReleaseDate" value="tbd"/>
	<!-- site settings -->
	<add key="WebmasterAddress" value="website@sitename.co.nz"/>

	<!-- change this site name for each new client -->
	<add key="SiteName" value="sitename"/>
	<add key="DeploySTG" value="ftp://beweb@stg_sitename.co.nz/sitename"/> 
	<add key="DeployLVE" value="ftp://beweb@live_sitename.co.nz/sitename"/>
	<add key="DeployExtraFilters" value=""/>
	<add key="LinkedServerDatabaseLVE" value="harriet"/>
	<add key="LinkedServerDatabaseSTG" value="harriet"/>
	<add key="DataCopyExcludeTables" value="MailLog|ModificationLog"/>
	<add key="BackupDatabasesOnDataCopy" value="false"/>

	<add key="ServerStages" value="DEV,STG,LVE"/>
	<add key="UseLocking" value="false"/>
	<add key="ShowRouteDebugger" value="false"/>        
	<add key="CryptKey" value="--CryptKey--"/>
	<add key="Beweb.Crypto.EncryptIDClassicKey" value="--CryptKeyClassic--"/> <!--multiple of 2-->
	
	<add key="EmailFromAddressDEV" value="website@sitename.co.nz"/>
	<add key="EmailFromAddressSTG" value="website@sitename.co.nz"/>
	<add key="EmailFromAddressLVE" value="website@sitename.co.nz"/>
	<add key="EmailFromName" value="sitename"/>
	<add key="EmailAboutError" value="errors@sitename.co.nz"/>
	<add key="EmailToAddressDEV" value="website@sitename.co.nz"/>
	<add key="EmailToAddressSTG" value="website@sitename.co.nz"/>
	<add key="EmailToAddressLVE" value="website@sitename.co.nz" />
	<add key="EmailOverrideAddressDEV" value="website@sitename.co.nz"/><!-- for DEV, this will override all email sending to send to this address (blank = don't override)  -->
	<add key="EmailOverrideAddressSTG" value="website@sitename.co.nz"/><!-- for STG, this will override all email sending to send to this address (blank = don't override)  -->
	<add key="WriteEmailSendToDLogFileLVE" value="true" />

	<!-- bounce checking options -->
	<add key="BounceEmailAddress" value="newsletters-{0}@sitename.co.nz" />
	
	<!-- used when rendering page content, replace with blank, you can use the pipe | as an 'or' operator  -->
	<!-- note that these MUST all start with http:// and end in a / character  -->
	<add key="WebsiteBaseUrlDEV" value="http://localhost/site/"/>
	<add key="WebsiteBaseUrlSTG" value="http://stg_sitename.co.nz/"/>
	<add key="WebsiteBaseUrlLVE" value="http://live_sitename.co.nz/"/>

	<add key="WebsiteImagesBaseUrlDEV" value="(local)"/> <!-- Default value: (local) -->
	<add key="WebsiteImagesBaseUrlSTG" value="(local)"/> <!-- Default value: (local) -->
	<add key="WebsiteImagesBaseUrlLVE" value="(local)"/> <!-- Default value: (local) -->
	<!--email settings -->
	<add key="EmailHostDEV" value="smtp.sitename.co.nz"/>
	<add key="EmailPortDEV" value="25"/>
	<add key="EmailHostSTG" value="smtp.sitename.co.nz"/>
	<add key="EmailPortSTG" value="25"/>
	<add key="EmailHostLVE" value="smtp.sitename.co.nz"/>
	<add key="EmailPortLVE" value="25"/>

	<!--email auth settings -->
	<!--
		<add key="EmailAuthUserLVE" value="username" />
		<add key="EmailAuthPasswordLVE" value="xxpasswordxx"/>
		-->
	<!-- debug -->
	<add key="DebugLog" value="false"/>
	<add key="DebugLogTraceSQL" value="false"/>


	<!-- log to screen -->
	<add key="WriteDOutDEV" value="true"/>
	<add key="WriteDOutSTG" value="false"/>
	<add key="WriteDOutLVE" value="false"/>
	
	<!-- log to file -->
	<add key="WriteDLogDEV" value="true"/>
	<add key="WriteDLogSTG" value="true"/>
	<add key="WriteDLogLVE" value="true"/>
	
	<add key="UseErrorNotifyDEV" value="true"/>
	<add key="UseErrorNotifySTG" value="true"/>
	<add key="UseErrorNotifyLVE" value="true"/>
	
	<add key="DebugLogPath" value="logs\log.txt"/>

	<!-- enables web http requests to proxy via fiddler - set this to true only while fiddler is running -->
	<add key="SendRemoteRequestsViaFiddlerDEV" value="false"/>

	<!-- lock the site from google and public -->
	<add key="LockSitePassword" value="sitenamelock"/>
	<add key="LockSiteHomepageDEV" value="true"/>
	<add key="LockSiteHomepageSTG" value="false"/>
	<add key="LockSiteHomepageLVE" value="false"/>

	<!-- 
	Set ShowDetailedErrorsFromBewebOffice to false to see friendly errors exactly how users see them and have them emailed to us. 
	Set to true to show detailed errors onscreen instead of emailing them when in beweb office. 
	(Note: this only applies to Beweb - regardless of this setting, normal users will always see friendly errors on LVE and STG) 
	-->
	<add key="ShowDetailedErrorsFromBewebOfficeDEV" value="true"/>
	<add key="ShowDetailedErrorsFromBewebOffice" value="true"/>
	<add key="ShowRouteDebuggerDEV" value="false"/>
	<add key="ShowRouteDebugger" value="false"/>
	<add key="ErrorPostUrl" value=""/><!-- set this to blank for no http error post -->

	<add key="ErrorFormUrlDEV" value=""/>
	<add key="ErrorFormUrl" value=""/><!-- set this to blank for no form -->

	<add key="ThrottleSameError" value="60"/><!-- number of seconds to suppress same error -->
	<add key="DeveloperOfficeIP" value=""/><!-- pipe separated list. ip address of developer office to display detailed error messages-->

	<!-- 
	Set 404GoesToHomepage to true if you have a Not Found message strip along the top of the homepage (needs corresponding html in the home view). 
	Set to false to go to custom error page at "errors/404". 
	-->
	<add key="404GoesToHomepage" value="false"/>
	<!-- 
	Set ShowAdminPanel to true if you want the admin panel to show on all pages on the front end when the user is logged in as admin. 
	-->
	<add key="ShowAdminPanel" value="false"/>

	<!-- default datetime format -->
	<add key="BoundFieldDateFormat" value="{0:dd MMM yyyy HH:mm}"/>
	<!-- Usage: in GridView BoundField eg DataFormatString="<%$Appsettings:BoundFieldDateFormat%>" HtmlEncode="false" -->
	<add key="DateFormat" value="dd MMM yyyy HH:mm"/>
	<!-- Usage: eg DateTime.Now.ToString(ConfigurationManager.AppSettings["DateFormat"]) -->

	<add key="UseRichTextEditor" value="TinyMCE"/>					<!--Redactor or TinyMCE or Savvy IE Only awesome editor from pengellys, or FCK!-->
	<add key="tinyMCEPath" value="~/js/tiny_mce_3_4_9"/>			 <!--new version ~/js/tiny_mce_4_1_7-->
	<add key="tinyMCEPath_new" value="~/js/tiny_mce_4_1_7"/>
	<add key="tinyMCEImageBasePath" value="~/attachments/"/><!-- potential issue here as this can't use Web.Attachments -->
	<add key="tinyMCEButtons" value="formatselect,bold,italic,hr,blockquote,bullist,numlist,indent,outdent,|,undo,redo,|,anchor,link,attachment,image,table,youtube,mobile-view,|,paste,pastetext,pasteword,|,code"/>
	<!-- extra tinymce buttons that you might want: charmap,tablecontrols -->
	<add key="tinyMCETableStyles" value="Show Borders=table-default;Invisible Gridlines=table-no-gridlines;Small Text=table-small"/>
	<add key="tinyMCEStylesheets" value="~/site.css"/><!-- add any fonts CSS here eg |http://fonts.googleapis.com/css?family=Roboto%3A400%2C500 -->
	<add key="tinyMCEHtmlValidation" value="none"/><!-- none, html5, default -->
	<add key="tinyMCEHeight" value="500"/><!-- eg 500 -->
	<add key="tinyMCEFontSize" value="13"/><!-- none, html5, default -->
	<add key="tinyMCEFontSizes" value="8=8px,10=10px,12=12px,13=13px,14=14px,16=16px,18=18px,20=20px,22=22px,24=24px,26=26px,28=28px,30=30px,32=32px,34=34px,36=36px"/>
	<add key="tinyMCEFonts" value="Pengellys Font=Calibri,Helvetica Neue,Helvetica,Helvetica,Arial,sans-serif;Andale Mono=andale mono,times;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;Comic Sans MS=comic sans ms,sans-serif;Courier New=courier new,courier;Georgia=georgia,palatino;Impact=impact,chicago;Symbol=symbol;Tahoma=tahoma,arial,helvetica,sans-serif;Terminal=terminal,monaco;Times New Roman=times new roman,times;Trebuchet MS=trebuchet ms,geneva;Verdana=verdana,geneva;Webdings=webdings;Wingdings=wingdings,zapf dingbats"/>
	<!--	<add key="tinyMCEPlugins" value="AtD,table,save,advhr,advimage,advlink,insertdatetime,searchreplace,print,safari,paste,attachment,AtD,autolink,lists,pagebreak,style,layer,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave"/> -->
	<add key="tinyMCEPlugins" value="(default)"/>	<!-- (default)=standard, (auto)=scan plugin folders -->
	<add key="tinyMCESpellCheck" value=""/><!-- "" or "AtD" or "(auto)" -->
	<add key="tinyMCEExtraOptions" value=""/><!-- add any extra options here as json -->
	
	<add key="MCEUploadedImageWidth" value="940"/>
	<add key="MCEUploadedImageHeight" value="940"/>
	<add key="MCEAllowAttachmentSelectFromServer" value="true"/>
	<add key="defaultPageWidth" value="940"/>
	
	<add key="jQueryLatest" value="1.8.3"/>
	<add key="jQueryUILatest" value="http://code.jquery.com/ui/1.10.3/jquery-ui.js"/><!-- includes complete jQuery UI -->
	<add key="jQueryUILatestCSS" value="http://code.jquery.com/ui/1.10.3/themes/black-tie/jquery-ui.css"/><!-- includes complete jQuery UI CSS and images -->
	<add key="jQueryValidateLatest" value="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"/>
	
	<!-- or use no CDN versions -->
	<!--
	<add key="jQueryLatest" value="~/js/jquery-1.8.2/jquery-1.8.2.min.js"/>
	<add key="jQueryUILatest" value="~/js/jquery-ui-1.8.4/js/jquery-ui-1.8.4.custom.min.js"/>
	<add key="jQueryUILatestCSS" value="~/js/jquery-ui-1.8.4/css/redmond/jquery-ui-1.8.4.css"/>
	<add key="jQueryValidateLatest" value="~/js/jquery.validate-1.6/jquery.validate.min.js"/>
	-->
	
	<add key="UseSavvyValidateInsteadOfjQueryValidate" value="true"/>
	<add key="IncludeFileRenderMode" value="auto"/>

	<add key="GoogleApiLOCALHOST" value=""/><!-- local host -->

	<add key="GoogleAnalyticsTrackingID" value=""/> <!-- live -->
	<add key="GoogleTagManagerID" value=""/> <!-- live -->
	
	<!-- sets the type of paging scheme to use - options are sql2005, sql2000, software.  Default is software. DO NOT USE SOFTWARE. -->
	<add key="ResultSetPagingType" value="sql2005" />

	<!-- savvy active record generator settings -->
	<!-- if you want automatic foreign key object links created (from beweb naming conventions), enter true (default is true) -->
	<add key="SavvyActiveRecord_GenForeignKeys" value="true"/>
	<add key="SavvyActiveRecord_GenForeignKeysCustom" value="ExampleFieldWithFunnyName=>SomeTableWithAnUnconventionalName|ExampleWackyID=>ExampleDatabase.dbo.ExampleTable|ExampleWackyID=>ExampleDatabase.dbo.ExampleTable"/>
	<!-- enter (all), (none) or a pipe separated list of table names eg Job|Company|Page - default is (all) -->
	<add key="SavvyActiveRecord_GenTables" value="(all)"/>
	<!-- enter a pipe separated list of table names to exclude from processing eg Job|Company|Page - default is blank (none) -->
	<add key="SavvyActiveRecord_GenTableExclusions" value="(none)"/>
	<!-- you can also generate models for database views - enter (all), (none) or a pipe separated list of view names eg Job_view|vMyReportView - default is (none) -->
	<add key="SavvyActiveRecord_GenViews" value="(none)"/>
	<!-- automatically adds the following database fields if they don't exist - enter (all), (none) or a pipe separated list of table names eg Job|Product - default is (none) -->
	<add key="SavvyActiveRecord_GenDateAdded" value="(all)"/> 
	<add key="SavvyActiveRecord_GenDateModified" value="(all)"/>
	<add key="SavvyActiveRecord_GenIDs" value="(all)"/>
	<add key="SavvyActiveRecord_GenSEOFields" value="Page|Product"/>
	<add key="SavvyActiveRecord_GenPublishExpiryFields" value="Page|HomepageSlide|Article"/>
	<add key="SavvyActiveRecord_GenMapLocationFields" value="(none)"/>
	<add key="SavvyActiveRecord_ClearData" value="X|Y|Z"/>
	<!-- if false (the default), BIT columns are created as System.Boolean (and any BIT ALLOW NULL columns will be changed to BIT). If true, BIT ALLOW NULL columns are created as Nullable<System.Boolean> -->
	<add key="SavvyActiveRecord_AllowNullableBooleans" value="false"/>
	<!-- enter a pipe separated list of active record class names to store in cache for given length of time -->
	<add key="SavvyActiveRecord_CacheClasses" value="Page|TextBlock|DynamicImage"/>
	<add key="SavvyActiveRecord_CacheDurationMinutes" value="60"/>
	<add key="SavvyActiveRecord_FullTextFields" value="Page.NavTitle|Page.SubTitle|Page.Title"/>
	
	<add key="SiteOutputCacheDurationSecondsDEV" value="0"/><!-- 0 = no cache -->
	<add key="SiteOutputCacheDurationSecondsSTG" value="86400"/><!-- sliding lifetime in seconds to cache page HTML for controllers with attrib SiteOutputCache (86400 = 1 day) -->
	<add key="SiteOutputCacheDurationSecondsLVE" value="86400"/><!-- sliding lifetime in seconds to cache page HTML for controllers with attrib SiteOutputCache (86400 = 1 day) -->
	<!-- if you want to keep model properties the same as the database set this to true -->
	<add key="SavvyActiveRecord_UncleanModelProperties" value="false"/>
	<add key="SavvyActiveRecord_AutoFixBaseUrl" value="true"/>
	<add key="SavvyActiveRecord_AutoFixBaseUrlExclusions" value="(none)"/> <!-- default is (none) - NOTE: this is a pipe separated list -->

	<add key="UseModificationLog" value="true"/>
	<!-- enter (all), (none) or a pipe separated list of tables eg Job_view|vMyReportView -->
	<add key="ModificationLogInclusions" value="(all)"/> <!-- default is (all) - NOTE: this is a pipe separated list-->
	<add key="ModificationLogExclusions" value="(none)"/> <!-- default is (none) - NOTE: this is a pipe separated list of tables-->
	<add key="ModificationLogCopyExtraFields" value="false"/> <!-- default is false -->
	<add key="ModificationLogFieldExclusions" value="DateModified|DateAdded|LastModified|LastModifiedDate"/> <!-- default is (none) - NOTE: this is a pipe separated list -->

	<add key="UseMailLog" value="true"/>
	<add key="MailLogFullText" value="true"/>

	<add key="MailTracking" value="true"/>
	<add key="MailTrackingCampaign" value="sitename"/>
	<add key="MailTrackingSource" value="Savvy"/>

	<add key="ForcePNG" value="false"/><!-- default is false - Forces images uploaded to be saved as png (e.g. if you have jpegs with a transparency layer) -->

	<add key="MaxFileUploadSizeInMegaBytes" value="70" />
	<!--
	This setting is used in global.asa so also see:
	configuration/system.web/httpRuntime @ maxRequestLength in Web.config
	configuration/system.webServer/security/requestFiltering @ requestLimits  in Web.config
	-->
	
	<add key="OverrideAdminStyles" value="true" />

	<!-- default page hierarchy page depth -->
	<add key="SiteNavigationDepth" value="3"/>
	<add key="AdminBreadcrumbIncludeHome" value="false"/>
	<add key="ShowCurrentBreadcrumbAsLink" value="false"/>

	<add key="Beweb_Security_UseEncryptedPassword" value="true"/>
	<add key="Beweb_Security_AuthProvider" value="ASPNETAUTH" /><!-- options are ASPNETAUTH (default) or SAVVYAUTH -->
	<add key="Beweb_Security_AutoWindowsLogin" value="false" /><!-- defaults to false, set it to true to auto login a user based on IE / Windows Login (for intranets) -->
	<add key="Beweb_Security_MemberLoginUrl" value="~/security/Login" />
	<add key="Beweb_Security_AdminLoginUrl" value="~/security/Login" />
	<add key="Beweb_Security_MemberLogoutUrl" value="~/" />
	<add key="Beweb_Security_AdminLogoutUrl" value="~/security/Login" />
	<add key="Beweb_Security_PersonTableName" value="Person" />
	<add key="Beweb_Security_AllowSubDomains" value="false" /> <!-- default is (false) - NOTE: this assumes the first host in ServerIs is the top most domain -->
	
	<add key="Theme" value="focus" />
	<add key="MinSupportedInternetExplorerVersion" value="9" />
	<add key="DeferJavaScriptLoading" value="(none)" /> <!-- default is (none) - NOTE: this is a pipe separated list of scripts that can be loaded after the page renders -->
	<add key="AsyncJavaScriptLoading" value="(none)" /> <!-- default is (none) - NOTE: this is a pipe separated list of scripts that are fine to be loaded in any random order -->
	<add key="SubstituteMinifiedWithFullLVE" value="true" /> <!-- default is true -->
	<add key="SubstituteMinifiedWithFullSTG" value="true" /> <!-- default is true -->
	<add key="SubstituteMinifiedWithFullDEV" value="true" /> <!-- default is true -->

	<!-- enable/disable features under development -->
	<add key="EnableMobileSiteLVE" value="false"/>
	<add key="EnableMobileSiteSTG" value="true"/>
	<add key="EnableMobileSiteDEV" value="true"/>


	<!--for very large forms-->
	<add key="aspnet:MaxHttpCollectionKeys" value="20000" />
</appSettings>
