<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!--<system.web>                   MN 20141022 - moved the auth into cs codebehind files
		<authorization>
			<allow roles="administrators"/>
			<allow roles="developers"/>
			<deny users="?"/>
		</authorization>
	</system.web>-->

	<location path="structure.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="CreateAdmin.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>
